<ion-header>
</ion-header>

<ion-content>

  <ion-item>
    <ion-avatar item-start>
      <img src="../assets/icon/image.png">
    </ion-avatar>
    <ion-label>
      <h2 class="nomSociete">VCI LUXE SARL</h2>
      <p>
        Responsable Marketing
        <br>
        <span>57000 METZ</span>
      </p>
    </ion-label>
    <ion-img id='like' src="{{myimage}}" (click)='like()'></ion-img>
  </ion-item>

  <div>
    <h5>Présentation :</h5>
    <p>
      Le Lorem Ipsum est simplement du faux texte employé dans la composition et
      la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de
      l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble
      des morceaux de texte pour réaliser un livre spécimen de polices ...
    </p>
  </div>

  <div>
    <h5>Activités :</h5>
    <p>
      Le Lorem Ipsum est simplement du faux texte employé dans la composition et
      la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de
      l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble
      des morceaux de texte pour réaliser un livre spécimen de polices ...
    </p>
  </div>

  <div>
    <h5>Sur le poste :</h5>
    <p>
      Le Lorem Ipsum est simplement du faux texte employé dans la composition et
      la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de
      l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble
      des morceaux de texte pour réaliser un livre spécimen de polices ...
    </p>
  </div>

    <ion-button id='postuler' size="default" type="button" expand="block" (click)="ajouterCandidature()">POSTULER A L'OFFRE</ion-button>

</ion-content>
