<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="listeOffres" class="vr">
      <ion-icon name="search-outline" ></ion-icon>
      <ion-label>Liste des offres</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="candidature" class="vr">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Candidatures</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favoris" class="vr">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Mes favoris</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Mon profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

