.header-collapse-condense ion-toolbar {
  --background: var(--ion-background-color, darkgrey);
  color: white;
  height: 35px;
}

ion-title{
  font-size: 2.5em;
  position: absolute;
  top: -15px; left: 13px;
}

ion-content{
  font-size: 0.5em;
}
